@import '../../assets/css/variables';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
}

.sendAgainBtn {
    color: $dark-teal;
    cursor: pointer;
    text-decoration: underline;
}

.error {
    border: red solid 1px;
}
