$blue-prime: #183153;
$sky-blue: #538dd7;
$sky-blue-hover: #4e76ab;
$yellow-prime: #ffd43b;
$yellow-hover: #fab005;
$dark-teal: #387478;
$cool-blue: rgba(116, 192, 252, 0.5);
$blue-prime-gray: #517891;
$blue-prime-gray-hover: #496d83;
$dark-green: #1e453e;
$teal-strong: #006769;
$dark-blue: #384b70;
$dark-blue-light: #06283d;
$dark-blue-strong: #153448;
$dark-min: #3d5656;
$dark-pink: #572649;
$dark-sage: #3c3d37;
$navbar-height: 70px;
$footer-height: 70px;
$blue-prime: #183153;
$yellow-prime: #ffd43b;
$yellow-hover: #fab005;
$dark-sage: #3c3d37;
$blue-prime-hover: #517891;
$dark-blue-light: #06283d;
$price-color: #dd0f00;
$remove-color: #dc3545;
$xanh-nhat: #e8f4f9;
$blue-nhat-bg: #f1f5f9;
$yellow-nhat-bg: #fff7f7;
$xanh-da-troi-nhat: #e8eff9;
$tim-nhat: #514498;
$xanh-title: #007bff;
$blue-gray: #7393b3;
$ash-gray: #b2beb5;
$blue-gray: #88c0d0;
$green-gray: #a3be8c;
$green-gray-hover: #91988c;
$pink-gray: #b48ead;
$black-gray: #181d28;
$blue-sky-white: #f2f3f3;
$orange-dark: #ff9966;
$sky-blue-dark: #97beca;
$sky-blue-dark-hover: #89abb6;
