.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo toàn bộ chiều cao của màn hình */
}

.appContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Đảm bảo nội dung bên trong có thể cuộn nếu cần */
}
