.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo toàn bộ chiều cao của màn hình */
}

.appContent {
    flex: 1; /* Phần này sẽ chiếm hết không gian còn lại giữa navbar và footer */
    display: flex;
    justify-content: center;
    align-items: center; /* Nếu muốn nội dung nằm giữa theo cả chiều ngang và dọc */
}
