@import './variables';

.manageFields {
    padding: 20px;
    flex-grow: 1; // Đảm bảo nội dung chiếm không gian còn lại bên cạnh sidebar

    h2 {
        margin-bottom: 20px;
        color: $blue-prime; // Màu tiêu đề
    }

    .fieldsTable {
        width: 100%;
        border-collapse: collapse; // Đảm bảo bảng không có khoảng cách giữa các ô
        background-color: #ffffff; // Màu nền bảng
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: left;

        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }

        th {
            background-color: $blue-prime; // Màu nền tiêu đề bảng
            color: white; // Màu chữ tiêu đề
            font-weight: bold;
        }

        td {
            vertical-align: middle; // Đảm bảo nội dung bên trong ô được căn giữa theo chiều dọc
            
            &:nth-child(even) {
                background-color: #f8f9fa; // Màu nền cho hàng chẵn
            }

            &:nth-child(odd) {
                background-color: #ffffff; // Màu nền cho hàng lẻ
            }
        }

        .fieldImage {
            width: 80px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
            border: 2px solid $blue-prime; // Đường viền màu xung quanh hình ảnh sân
        }
    }

    .addButton {
        margin-top: 20px;
        background-color: $blue-prime; // Màu nền cho nút thêm mới
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: darken($blue-prime, 10%); // Tối màu khi hover
        }
    }

    .editButton {
        background-color: darken($blue-prime, 10%); // Màu nền cho nút sửa
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            background-color: darken(darken($blue-prime, 10%), 10%); // Tối màu khi hover
        }
    }

    .deleteButton {
        background-color: #dc3545; // Màu nền cho nút xóa
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: darken(#dc3545, 10%); // Tối màu khi hover
        }
    }
}
