@import '../variables';

.myTournamentsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.tournamentCard {
    background: #fff;
    color: black;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Adjust width to full width by default */
    max-width: 800px; /* Limit the max width of the card */
    display: flex;
    justify-content: space-between; /* Align children (tournament info and team info) horizontally */
    gap: 20px; /* Add space between left and right parts */
    transition: transform 0.3s ease-in-out;
}

h4 {
    color: $dark-green;
}

.tournamentInfo {
    text-align: left; /* Align text to the left */
    flex: 1; /* Take up remaining space */
}

.teamInfo {
    text-align: left;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    width: 250px; /* Set a fixed width for the team info */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.teamLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teamName {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.teamPlayers {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.editButton,
.cancelButton {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

.editButton {
    background: #ccc;
    color: #fff;

    &:hover {
        background: #0056b3;
    }
}

.cancelButton {
    background: #ccc;
    color: #fff;

    &:hover {
        background: #b02a37;
    }
}
